<%- include('../layout/header') %>
   
   <div class="wrapper">
	   <div class="container">
			<form action="/" method="post" enctype="multipart/form-data" class="m-3 shadow shadow-lg pb-5 px-4 rounded">
			  <h5 style="font-family: 'Poppins', sans-serif;" class="pt-4 text-center my-3">Login For Access Storage</h5>
			  <div class="mb-3">
			    <input placeholder="Username" required="" name="username" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
			  </div>
			  <div class="mb-3">
			    <input placeholder="Password" required="" name="password" type="password" class="form-control" id="exampleInputPassword1">
			  </div>
			  <input type="text" name="test" id="" value="" />
			  <button type="submit" class="btn btn-success w-100">Login</button>
			</form>			
	   </div>
   </div>
   
