	<footer class="p-2 bg-dark text-light text-center">
		<p class="mt-2">Made With &hearts; By <a class="text-light" href="https://bio-link.github.io/im-fazle-rabbi/">Fazle Rabbi</a></p>
	</footer>
	
   <!--Bootstrap5 Js Link-->
   <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
   <script src="https://code.iconify.design/iconify-icon/1.0.5/iconify-icon.min.js"></script>
</body>
</html>